.campaign{
	display: flex;
	align-items: center;
	gap: 5em

}
	.campaign img {
		border-radius: 9px;
	}
.campaign a{
	display: block;
	text-decoration: none;
}
.list-title { /*h2*/
	color: #000;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	max-width: 410px;
}
.list-title-p { /*p*/
	color: #292d32;
	max-width: 533px;
	margin: 18px 0;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
@media screen and (max-width: 1224px) {
	.campaign {
flex-wrap: wrap;
justify-content: center;
	}
}