.global-space-top{
    display: flex; 
    padding: 0 55px;
    column-gap: 6em;
}
    .global-space-top a {
    text-decoration: none;
    }
    .global-space-top h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        color: #212121;
    }
.general-contact-right p, .general-contact-left p {
    color: #292d32;
    font-size: 18px;
    font-style: normal;
    line-height: 34px;
    max-width: 600px;
    margin: 0;
}

.email, .phone {
    color: #292d32;
}
.social-icons{
    display: flex;
    gap: 10px;
}
.social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    padding: 15px;
    border-radius: 50px;
}
.social-icons svg{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1024px) {
    .global-space-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .social-icons {
        margin: 0;
        justify-content: center;
    }
}