/* Fleet Leasing Section Styles */
.fleet-leasing .section-head button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.fleet-main {
    display: flex;
    gap: 1em;
    overflow: hidden;
    width: 100%;
}


.fleet-card {
    flex: 0 0 32.2%;
    transition: transform 0.3s ease;
}

.fleet-card h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #292d32;
    padding: 0 10px;
}

    .fleet-card p {
        color: #292d32;
        text-align: left;
        padding: 0 10px;
        margin: 0;
        font-weight: 400;
    }

.fleet-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 9px;
}
@media screen and (max-width: 1024px) {
    .fleet-card {
        flex: 0 0 49%;
        max-width: 49%;
    }
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .fleet-main {
        flex-direction: row;
        overflow-x: auto;
        gap: 1em;
    }
    
    .fleet-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .fleet-main-why {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .fleet-main-why {
        grid-template-columns: 1fr;
    }
}
