
.panel h2 {
    color: #000;
    max-width: 679px;
    margin: 0 0 0 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    font-size: 30px;
}
.panel p, .fleetino-text p, .panel li {
    color: #292d32;
    max-width: 812px;
    margin-left: 60px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.panel img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 9px;
}
.panel div {
    display: flex;
    margin: 6px 0 0 60px;
    gap: 3em;
}
    .panel div h6, .fleetino-text h6 {
        margin-top: 15px;
        color: #191919;
        width: 190px;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
    }
.fleetino-text {
    display: flex;
    margin-left: 60px;
}
    .fleetino-text p {
        max-width: 712px;
    }

    .fleetino-text a {
        margin-left: 75px;
        display: flex;
        align-items: center;
        gap: 1em;
        color: #292d32;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        text-decoration: none;
        border-bottom: 1px solid #000;
        width: 100%;
        max-width: 825px;
    }
@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 768px) {
    .fleetino-text {
        margin-left: 0;
        flex-wrap: wrap;
    }

        .fleetino-text p {
            width: 90%;
        }

    .panel h2 {
        margin: 0;
    }

    .panel p, .fleetino-text p {
        margin-left: 0;
    }
    .panel div {
        margin: 0;
        flex-wrap: wrap;
        gap: 0;
    }
    .panel p, .fleetino-text p, .panel li {
        margin: 0;
    }
    .panel div h6, .fleetino-text h6 {
        margin: 10px 0;
        width: 100%;
    }
}