.services {
    padding-left: 55px;
}
.services-head {
    max-width: 800px;
}
    .services-head h2 {
        color: #292d32;
        margin: 0;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        font-size: 30px;
    }
    .services-head p {
        color: #292d32;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
.services-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 950px;
    row-gap: 4em;
}
    .services-main img {
        width: 110px;
        height: auto;
    }
    .services-main h6 {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        margin: 0;
    }
    .services-main p {
        color: #292d32;
        max-width: 260px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
@media screen and (max-width: 1024px) {
    .services {
        padding-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .services {
        padding-left: 0;
    }
    .services-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .services-main div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
}