* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    overflow-x: hidden;
}

/* Diğer stil kurallarınızı (section, header vb.) .page-wrapper içine uygulayın */
section {
    margin: 1.5em 0;
    width: 100%;
    height: auto;
    max-width: 1175px;
    box-sizing: border-box;
}

.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .section-head h2 {
        font-style: normal;
        line-height: 42px;
        font-size: 30px;
    }

    .section-head a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        column-gap: 1em;
        font-weight: 500;
    }
/*header*/
.header-list {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    border-radius: 9px;
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100vw;
    max-width: 1300px;
}

    .header-list::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

.header-text {
    position: relative;
    z-index: 2;
}

.header-text {
    margin-left: 125px;
    font-weight: normal;
    max-width: 250px;
}

.fleettext {
    margin-left: 55px;
    max-width: 800px;
}

/*text*/
.gallery-content p,
.drd-meet p,
.special-solutions p {
    margin: 0 0 0 60px;
    color: #292d32;
    width: 90%;
    max-width: 800px;
    font-size: 16px;
    margin-left: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.detail {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.curiosities-link {
    border-radius: 7px;
    border: 1px solid black;
    padding: 15px 40px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: inline-block;
}

    .curiosities-link:hover {
        border: 1px solid #ff0029;
        background-color: #ff0029;
        color: white;
    }

.why-fleetino {
    background: #f6f6f6;
    width: 1175px;
    padding: 2em 40vw;
}

@media screen and (min-width: 2100px) {
    section {
        margin: 1em 0;
    }
}

@media screen and (max-width: 1200px) {
    section {
        margin: 1.5em auto;
        max-width: 90%;
        width: 90%;
    }
    .why-fleetino {
        width: 90vw;
        padding: 2em 5vw;
    }
}

@media screen and (max-width: 1024px) {
    section {
        width: 100vw;
        padding: 0;
    }

    .header-list {
        margin: 0;
        width: 100vw;
        border-radius: 0;
    }

    .main-content {
        flex-direction: column;
    }

    .vehicle-filters {
        width: 100%;
        margin-bottom: 30px;
    }

    .filter-actions {
        flex-direction: row;
        gap: 15px;
    }

    .btn-filter {
        width: auto;
        flex: 1;
    }

    /*text*/
    .gallery-content p,
    .drd-meet p,
    .special-solutions p {
        margin: 20px 0;
    }

    .fleettext {
        margin-left: 0;
    }
    .header-text {
        margin: 0 5%;
    }
}

@media screen and (max-width: 860px) {

    .display-header {
        flex-direction: column;
        gap: 15px;
        align-items: stretch;
    }

    .vehicles-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .filter-actions {
        flex-direction: column;
    }

    .btn-filter {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header-text {
        margin-left: 6%;
    }
}
