.blog-main {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.blog-main a{
    text-decoration: none;
    color: black;
}
    .blog-main a h2 {
        color: #292d32;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        margin: 20px 20px 10px 0;
    }
    .blog-main a p, .blog-card p {
        color: #292d32;
        text-align: left;
        margin: 0;
    }

.blog-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 9px;
}
.fleet-main-why {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.certificates span {
    display: flex;
    flex-direction: column;
}

.certificates a {
    color: #292d32;
    text-decoration: none;
    font-size: 26px;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}
/* Mobile Layout */
@media screen and (max-width: 860px) {
    .blog-main {
        grid-template-columns: 1fr;
    }
    .fleet-main-why {
        grid-template-columns: repeat(2, 1fr);
    }


    .blog-img {
        height: 240px;
    }
}
@media screen and (max-width: 500px) {
    .fleet-main-why {
        grid-template-columns: 1fr;
    }
}
