.car-models-main {
    margin-top: 40px;
    display: flex;
    gap: 1em;
    overflow: hidden;
    width: 100%;
}

    .car-models-main a {
        text-decoration: none;
        color: black;
        flex: 0 0 24%;
        transition: transform 0.5s ease;
        display: flex;
        flex-direction: column;
    }

    .car-models-main img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 9px;
        flex-shrink: 0;
    }

.car-name {
    padding: 10px 15px 5px 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    flex: 1;
}

.car-specifications {
    padding: 0 10px 10px 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    flex-shrink: 0;
}

@media screen and (max-width: 1124px) {
    .car-models-main a {
        flex: 0 0 32%;
        max-width: 48%;
    }
}
/* tab Layout */
@media screen and (max-width: 860px) {
    .car-models-main {
        flex-direction: row;
        overflow-x: auto;
        gap: 1em;
    }

        .car-models-main a {
            flex: 0 0 48%;
            max-width: 48%;
        }

    .car-name {
        font-size: 16px;
    }
}
/* Mobile Layout */
@media screen and (max-width: 580px) {
        .car-models-main a {
            flex: 0 0 100%;
            max-width: 100%;
        }

    .car-name {
        font-size: 14px;
    }
}
