h2, h6 {
    margin: 0;
}
.news-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
}
.icon-text-container {
    padding: 30px;
    border-radius: 10px;
    object-fit: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://drdcmsv2.taigalab.com/Files/img/bizden-haberler/heade-news.jpg?v=LvMqvlX0veMd7dXFjwLH_-dNWPw);
    display: flex;
    align-items: center;
    gap: 2em;
    color: white;
}
.hov {
    background-color: #f3f3f3;
    background-image: none;
    color: black;
}
a{
    text-decoration: none
}
.icon-text-container h6 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
}
    .icon-text-container h6 span {
        font-weight: 600;
    }
.hov:hover {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://drdcmsv2.taigalab.com/Files/img/ortak-alan/kampanya3.jpg?v=AfFbaKtj68TXa7WY3d_Ku-XcJpc);
    color: white;
}
    .hov:hover path {
        stroke: white;
    }
@media screen and (max-width: 786px) {
    .responsibility img {
        max-height: 350px;
    }
}

