.gallery-content {
    color: #292d32;
    flex-direction: column;
}

    .gallery-content h2 {
        color: #292d32;
        margin: 60px 0 14px 55px;
        width: 90%;
        max-width: 920px;
        font-weight: 700;
        line-height: 42px;
        font-size: 30px;
    }

/*slider*/
.why-drd-slider {
    display: flex;
    gap: 1em;
    overflow-x: auto;
    cursor: grab;
    align-items: center;
    justify-content: center; 
    min-height: 500px;
    margin: 2em 0;
    padding: 0 20%; 
}
    .why-drd-slider:active {
        cursor: grabbing;
    }

.why-drd-slide {
    flex: 0 0 60%; 
    min-width: 800px;
    scroll-snap-align: center;
    transition: transform 0.3s;
    box-sizing: border-box;
}

    .why-drd-slide img {
        width: 100%;
        height: auto;
        border-radius: 9px;
        user-select: none;
    }

.why-drd-slider {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .why-drd-slider::-webkit-scrollbar {
        display: none;
    }

.drd-meet img {
    width: 100%;
    margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
    .gallery-content h2 {
        margin: 0;
        font-size: 28px;
        line-height: 38px;
    }

    .why-drd-slider {
        padding: 0 15%;
        min-height: 400px;
        gap: 0.8em;
    }

    .why-drd-slide {
        flex: 0 0 70%;
        min-width: 500px;
    }
}

@media screen and (max-width: 768px) {

    .why-drd-slider {
        padding: 0 10%;
        min-height: 300px;
        gap: 0.6em;
        display: flex;
        margin: 0;
    }

    .why-drd-slide {
        flex: 0 0 80%;
        min-width: 280px;
    }
}

@media screen and (max-width: 500px) {
    .why-drd-slider {
        padding: 0;
        min-height: 200px;
        scroll-snap-align: start;
    }

    .why-drd-slide {
        flex: 0 0 100%;
        min-width: 120px;
        scroll-snap-align: start;
    }
}
